body{
    margin-left: 450px; 
    background-color: rgb(143, 140, 160);
    }
table{
      border-spacing: 0px;
      padding:1px;
      width: 500px;
     }
hr{
    width:55%; 
    margin-right: 500px;
  }
dt{
    font-size: large; 
    font-weight: bold;
   }
h2{
    font-family:'Times New Roman', Times, serif;
 }

form{
   font-size: larger; 
   font-family: 'Times New Roman', Times, serif; 
   padding:0px; 
   background-color: rgb(143, 175, 214); 
   width:500px; 
    }    
fieldset {
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        border: 2px groove ;
      }